
@media (min-width: 992px) {
  .col-md-3 {
    width: 100%;
  }
}

#list{
  background-color: grey;
  padding-left: 10px;
  padding-right:10px;
  margin-top:10px;
  height: 60px;
  padding-top: 18px;
  border: 1px solid black;
  border-radius: 40px 40px;
}

.btn-primary{
  float: right;
  margin-top: -45px;
}

#returnDevice, #notVisible, #editDevice{
  margin-top: -6px;
  float: right;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 20px 20px;
}
