<div class="container-fluid">

  <div class="col-md-3">
    <h2>Lista Urządzeń</h2>
    <a *ngIf="role === 'admin'"><button class="btn btn-primary" (click)="addDevice()">Dodaj nowe urządzenie</button></a>
    <div id='list' *ngFor="let device of devices | async"><b>Nazwa:</b> {{device.name}}    <b>Typ:</b> {{device.type}}     <b>Status:</b> {{device.status}}
      <a *ngIf="device.status === 'Dostępne' && role==='user'">
        <button id="notVisible" class="btn btn-primary" (click)="bookDevice()">Zarezerwuj</button>
      </a>
    </div>
  </div>

</div>
