#device {
  margin-bottom: 15px;
}

.form-group {
  float:left;
}

.form-group[id="f2"] {
  margin-left: 10px;
}
.col-md-3{
  width: 100%;
}

.main {
  margin-left:600px;
}

#pre{
  font-size: 24px;
}

.btn-group{
  margin-top: 24px;
  margin-left: 10px;
}
